{% extends "IPDUVTurnadorBundle::layoutturno.html.twig" %}
{% block content -%}
    <div class="ultimo">
        <div class="turno"> N° </div>
        <div class="box"> Box </div>
   </div>
    
   <div class="historial" onclick="click1.playclip()">
       
        Anterior:<br>
    Nº 9 - Box 1    
    </div>
    
    <video autoplay loop >
        <source src="{{asset('video/')}}medios-de-pagos.mp4" type="video/mp4" />
    </video>
   
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}turno.js"></script>


{% endblock %}