{% extends "IPDUVTurnadorBundle::layoutturno.html.twig" %}
{% block content -%}

    <div class="ultimo">
                        <div class="turno"> N° </div>
                        <div class="box"> Box </div>
                   </div>


    <div class="col-md-6" col-centered >
    <ul class="list-group">
        <li class="list-group-item">
                <div class="row" >
                        
                    

                </div>          
        <input type="button" id="boton2" value="Asignar box">
        </li>
    </ul>
    </div>
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}nuevoturno.js"></script>
{% endblock %}