{% block ipduv_turnadorbundle_cliente_widget %}
    <br>
	<div class="panel panel-default">
   	    <div class="panel-heading">NUEVO CLIENTE</div>
			    <div class="panel-body">
			  		<div class="row">

		            	<div class="col-md-1">
							 {{ form_label(form.nombre) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.nombre) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.apellido) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.apellido) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.dni) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.dni) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.direccion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.direccion) }}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-1">
							 {{ form_label(form.telefono) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.telefono) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.correo) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.correo) }}
						</div>

				    </div>
	   	    </div>
    </div>

    <br>
	    <div class="panel panel-default">
	   	    <div class="panel-heading">OBSERVACIONES</div>
		    <div class="panel-body">
		  		<div class="row">

		  			{% for observacion in form.consultas %}
				     <div class="row">

		    	<div class='col-md-2'>
		            {{ form_label(observacion.asunto) }}
		        </div>
		        <div class='col-md-3'>
                    {{ form_widget(observacion.asunto) }}       
   		        </div>
   		        
		    	<div class='col-md-2'>
		            {{ form_label(observacion.fecha) }}
		        </div>
		        <div class='col-md-3'>
			        <div class="form-group">
		                <div class='input-group date' id='datetimepicker1' >
		                    	{{ form_widget(observacion.fecha) }}	
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                </div>
		            </div>
		        </div>

		        

		    </div>
		    <br>
			<div class="row">
		    	<div class="col-md-2">
					 {{ form_label(observacion.detalle) }}
				</div>
				<div class="col-md-10">
					 {{form_widget(observacion.detalle) }}
				</div>
			</div>
			<br>
			{% endfor %}


				    <ul class="tags" data-prototype="
				        {% filter escape %}
			                {{ include('IPDUVTurnadorBundle:Form:prototype.html.twig', { 'form': form.consultas.vars.prototype }) }}
			            {% endfilter %}">
					</ul>
			    </div>
			</div>
		</div>

    <input type="button" id="btnVerificar" value="AJAX">
	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>
{% endblock %}
				