<br>
<div class="panel panel-default">
	    <div class="panel-heading">NUEVA OBSERVACION</div>
		  <div class="panel-body">
			    
		    <div class="row">

		    	<div class='col-md-2'>
		            {{ form_label(form.asunto) }}
		        </div>
		        <div class='col-md-3'>
                    {{ form_widget(form.asunto) }}       
   		        </div>
   		        
		    	<div class='col-md-2'>
		            {{ form_label(form.fecha) }}
		        </div>
		        <div class='col-md-3'>
			        <div class="form-group">
		                <div class='input-group date' id='datetimepicker1' >
		                    	{{ form_widget(form.fecha) }}
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                </div>
		            </div>
		        </div>

		        

		    </div>
		    <br>
			<div class="row">
		    	<div class="col-md-2">
					 {{ form_label(form.detalle) }}
				</div>
				<div class="col-md-10">
					 {{form_widget(form.detalle) }}
				</div>
			</div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{asset('bundles/bootstrap/js/')}}bootstrap.min.js"></script>

<script src="{{asset('js/')}}moment.js"></script>
 <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
 <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

<script type="text/javascript">
	$(function () {$('#datetimepicker1').datetimepicker();});
	
</script>