<!DOCTYPE HTML>
<html>    
    <head>
        <title>IPDUV - DENUNCIAS</title>
        {% block stylesheets %}<link href="{{asset('bundles/bootstrap/css/')}}bootstrap.min.css" rel="stylesheet">{% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}                                    
        {% block javascripts1 %}
            <link href="{{ asset('css/estiloturno.css') }}" rel="stylesheet" type="text/css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="{{asset('bundles/bootstrap/js/')}}bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>