<!DOCTYPE HTML>
<html>    
    <head>
        <title>IPDUV - DENUNCIAS</title>
        <link href="{{ asset('css/estilo.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}<link href="{{asset('bundles/bootstrap/css/')}}bootstrap.min.css" rel="stylesheet">{% endblock %}
    </head>

    <body>
        <div  class="container contenedor radio">
            <div class="row">
                <div class="col-md-12 blanco pad20 radio">
                    <div class="btn-group pull-right">
                        {% if app.user  != '' %}
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
                            <span class="glyphicon glyphicon-user"> </span>
                            {{ app.user }}
                            <span class="caret"> </span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('turno') }}"><i class="glyphicon glyphicon-home"></i>   Inicio</a></li>
                            <li><a href="{{ path('turno') }}"><i class="glyphicon glyphicon-signal"></i> Reporte Anual</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i>   Salir</a></li>
                        </ul>
                       {% endif %}
                    </div>

                    <p><a href="{{ path('turno') }}"><img src="{{ asset('img/logo-ipduv.png') }}" width="300" height="65"  alt="0" /></a></p>

                    
                    

                    {% block msj %}{% endblock %}
                    <div class="panel panel-default">
                         <div class="panel-heading" style="height:50px">
                           {% block title %} {% endblock %}
                         </div>
                        <div style="padding-top:0px" class="panel-body">
                            <!--@yield('sec12')-->
                            {% block error %}
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
                            </div>{% endblock %}
                            <div id="loginform" class="form-horizontal">  
                            </div>
                                {% block body %} {% endblock %}
                                {% block foot %} {% endblock %}                                     
                        </div>                     
                    </div>


                </div>
            </div>
        </div>
       {% block javascripts1 %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>                
                <script src="{{asset('bundles/bootstrap/js/')}}bootstrap.min.js"></script>
                
            {% endblock %}
    </body>
</html>