{% extends "IPDUVTurnadorBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTurnadorBundle:Form:consulta.theme.html.twig' %}

{% block body -%}

    {{ form(form, {'attr': {'id': 'form'}}) }} 

{% endblock %}

{% block javascripts1 %}
 			{{ parent() }}
     <script src="{{asset('js/')}}moment.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>
 
	 
	<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
		                 //$('#datetimepicker2').datetimepicker();
		             });
	</script>
	 	
</script>

{% endblock %}