{% extends "IPDUVTurnadorBundle::layout.html.twig" %}

{% block body -%}
    <h1>Consulta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ entity.asunto }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('consulta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('consulta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
