body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #181C5F;
}

.ultimo {
  color: #fff;
  font-size: 170px;
  letter-spacing: -7px;
  font-weight: 700;
}

.turno {
  position: absolute;
  top: 50px;
  left: 100px;
}

.box {
  position: absolute;
  top: 50px;
  left: 600px;
}

.historial {
  color: #B6B3B3;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  bottom: 50px;
  height: 337px;
  padding: 30px;
  background: #0E1142;
}

video {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 600px;
  height: 337px;
}