{% extends "IPDUVTurnadorBundle::layout.html.twig" %}
{% form_theme edit_form 'IPDUVTurnadorBundle:Form:cliente.theme.html.twig' %}

{% block body -%}
    <h1>Cliente edit</h1>

    {{ form(edit_form, {'attr': {'id': 'form'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}cliente.js"></script>


    <script type="text/javascript">
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionHolder = $('ul.tags');

        // configura una enlace "Agregar una etiqueta"
    var $addTagLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVA CONSULTA</a>');
    var $newLinkLi = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionHolder.append($newLinkLi);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}